/* Основной цвет текст #212121  */
/* Вторичный цвет текста #757575 */
/* Белый цвет #FFFFFF */
/* Акцент #2196F3 */
/* Футер rgba(255, 255, 255, 0.6); */
/* Веб студия #000000, #2196F3 */
/* Цвет фона background: #ffffff; */
/* Цвет фона героя #2F303A */
/* Цвет фона футера background: #2F303A; */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --logo-color: #000000;
  --wite-text-color: #ffffff;
  --wite-bg-color: #ffffff;
  --rgb-wite-color: rgba(255, 255, 255, 0.6);
  --bg-color-secondary: #F5F4FA;
  --shadow-button--:rgba(0, 0, 0, 0.25);
  --icon-team-color--:#AFB1B8;
}

body {
  font-family: Roboto, sans-serif;
  
  background: var(--wite-bg-color);
  color: var(--primary-text-color);
}

/* Сброс */
h1,h2,h3,p,ul{
  margin-top: 0px;
  margin-bottom: 0px;
}
ul{
  padding: 0px;
}

/* Контейнер */
.container{
margin-left: auto;
margin-right: auto;
width: 1200px;
padding-left: 15px;
padding-right: 15px;
/* outline: 2px solid tomato; */
}

/* Logo */
.logo {

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--logo-color);
}
.logo-text {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.header-position{
  border-bottom: 1px solid #ECECEC;
}

/* Main-nav */
.div-nav{

  display: flex;
  align-items: center;
}
.main-nav{
  display: flex;
  align-items: center;
}

/* Site nav */
.site-nav{
  display: flex;

  margin-left: 93px;
}

.site-nav-item:not(:last-child){
  margin-right: 50px;
}


.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}
.site-nav-link{
  display: block;
padding-top: 32px;
padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}
.active{
  color: var(--accent-color);
}
/* Contacts */
.contacts-icon{
  margin-right: 10px;
  fill: currentColor;

}
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;

  color: var(--secondary-text-color);
}
.contacts{
  display: flex;
  margin-left: auto;
}
.contacts-item + .contacts-item{
  margin-left: 50px;
}

.contacts-link:hover,
.contacts-link:focus{
  color: var(--accent-color);
}

/* Main */
/* Hero */
.hero-title {
  
  margin: auto;
  margin-bottom: 30px;
  width: 696px;
  

  font-weight: 700;
  font-size: 44px;
  line-height: 1.36;
 
  letter-spacing: 0.06em;

  color: var(--wite-text-color);
}
.hero {
  background-color: var(--background-color);
  text-align: center;
  
}
/* Overlay */
.overlay{
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    to right, 
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4) ),
   url(../images/Img\ Overlay.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}

.hero-button {
  /* padding-bottom: 200px; */
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;


  background-color: var(--accent-color);
  color: var(--wite-text-color);
  
}
/* Sections */
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-pd{
  padding-top: 0px;
}
/* Требования */
.requirements-text {

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.requirements-title {
margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.requirements{
  
  display: flex;
  padding: 0px;
  margin: 0px;
}

.requirements-item{
  width: 270px;
  margin-right: 30px  ;
}
.requirements-item:nth-child(4n){
  margin-right: 0px;
}
.icons{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}
.icon-requirements{
  width: 70px;
  height: 70px;
  
}

/*  Деятельность */

.activity{
  display: flex;
  
}
.activity-item{
  margin-right: 30px;
}
.activity-item:nth-child(3n){
  margin-right: 0px;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}


/* Team */

.description{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team-text {

  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
.team-title {
margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
  letter-spacing: 0.03em;
}
.team-bg{
  background-color:var(--bg-color-secondary)
}
.team-item{
  margin-right: 30px;
  width: 270px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
background-color: var(--wite-bg-color);
}
.team-item:nth-child(4n){
  margin-right: 0px;
}
.team{
  display: flex;
}

.team-social-icon{
  fill: currentColor;
}

.social-link:hover,
.social-link:focus{
  background-color: var(--accent-color);
  color: var(--wite-text-color);
}

.social-link{
  height: 44px;
  width: 44px;
  display: flex;
  background-color: var(--wite-bg-color);
  border-radius: 50%;
  color: var(--icon-team-color--);
  align-items: center;
  justify-content: center;
}
.social{
  margin-top: 16px ;
  display: flex;
  justify-content: center;
}
  
.team-social-icon{
  width: 20px;
  height: 20px;
  /* fill: var(--icon-team-color--); */
  
}


.social-item{
  margin-right: 10px;
}
.social-item:nth-child(4n){
  margin-right: 0px;
}

/* Clients */
.clients-icon{
  
  width:106px;
  height: 60px;
}
.clients-link:hover,
.clients-link:focus{
  fill: var(--accent-color);
  border-color: var(--accent-color);

}
.clients{
  display: flex;
  gap: 30px;
}
.clients-item{
  width: 170px;
  height: 92px;
}

.clients-link{
  display: flex;


  height:100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  fill: var(--icon-team-color--);
  border: 1px solid #AFB1B8;
  border-radius: 4px;

}

/* Фильтр меню */
.filter{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-stile{
  margin-right: 8px;
}
.button-stile:nth-child(5n){
margin-right: 0px;
}

 .filter-button {
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-align: center;

  color: var(--primary-text-color);
  background-color: var(--bg-color-secondary);
  border: transparent;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--wite-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* MENU */
.menu{
  display: flex;
  flex-wrap: wrap;
}
.menu-item{
  margin-right: 30px;
  margin-bottom: 30px;
}
.pages-link{
  display: block;
}
.pages-link:hover,
.pages-link:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.menu-item:nth-last-child(-n + 3){
  margin-bottom: 0px;
}
.menu-item:nth-child(3n){
  margin-right: 0px;
}
.menu-title {
margin-bottom: 4px;
color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.menu-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.filter-main{
  padding: 20px 24px 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;;
  border-left:1px solid #EEEEEE; ;
}

/* Футер */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;  
  background-color: var(--background-color);
}
.logo-footer {
  display: block;
  margin-bottom: 20px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--wite-text-color);
}
.contacts-footer {

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-nav{
  margin-bottom: 9px;
}
.footer-nav:nth-child(3n){
  margin-bottom: 0px;
}

.footer-contacts-link {
  color: var(--rgb-wite-color);
}
.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-color);
}
.calor-map {
  color: var(--wite-text-color);
}
.social-footer{
    display: flex;
  margin-top: 20px;
}
.team-social-icon-footer{
  width: 20px;
  height: 20px;
}
.social-item-footer{
  margin-right: 10px;
}
.social-link-footer{
  height: 44px;
    width: 44px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: var(--wite-text-color);
    align-items: center;
    justify-content: center;
}
.social-link-footer:hover,
.social-link-footer:focus{
  background-color: var(--accent-color);
}
.footer-right-title{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--wite-text-color);
  text-transform: uppercase;
}
.footer-right{
  margin-left: 70px;
}
.footer-container{
  display: flex;
  align-items: baseline;
  
}